/*some basic styles*/
body {
	margin: 0;
	color: #555;
	font-family: verdana, sans-serif;
}
header {
	background: #708090;
	overflow: auto;
}
i {
    color: #708090;
}
h1 {
    text-align: center;
	margin: 0;
    color: #fff;
	padding: 30px 40px 30px 40px;
}
main {
	padding: 10px 40px 10px 40px;
}
code {
	font-size: 1.25em;
	color: #B0C4DE;
}

a {
    color: aquamarine;
  text-decoration: none;
}
a:hover {
    color: darkcyan;
}

/*show-hide mobile-size nav nicely*/
#nav-mobile {
	line-height: 1.75em;
	text-align: center;
	background: #eee;
	font-weight: bold;
}
#nav-main a {
	background: #fff;
	display: block;
	text-align: center;
	line-height: 1.75em;
	text-decoration: none;
	font-weight: bold;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: height 0.4s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}
#nav-main:hover a {
	/*transitions work on these three properties*/
	height: 1.75em;
	opacity: 1;
	visibility: visible;
    color: #708090;
}

/*just decoration*/
/* nav a {*/
nav a {
	display: inline-block;
	color: #555;
}
#nav-main a:hover {
		background: #eee;
}

/*BREAKPOINT: larger than mobile*/
@media screen and (min-width: 580px) {
    h1 {
    text-align: left;
    }
	#nav-main {
		text-align: right;
	}
	#nav-main #nav-mobile {
		display: none;
	}
	#nav-main a {
	background: #fff;
		margin: 0;
		height: 1.75em;
		display: inline-block;
		visibility: visible;
		padding: 0 1em;
		opacity: 1;
		border-right: 3px solid #fff;
	}
	#nav-main a:hover {
		background: #eee;
	}
	#nav-main a:last-child {
		border-right: none;
	}
    section {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
        float: left;
  }
    
    p {
        padding: 0 0 0 10px;
        border-left: 4px solid #B0C4DE;
    }
}


@media screen and (min-width: 700px) {
    section {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
        float: left;
  }
}